@charset "utf-8";
body{
	margin-top: 150px;
	background-image: url("../Img/steal4.png");
	background-size: cover;
	background-attachment: fixed;
}

#titulo{
	width: 80%;
	background-color: black;
}

#intro{
	border-radius: 10px;
}

#boton{
	background-color: black;
	
	
}

#redes{
	width: 50%;
}